:root {
    --background: hsl(0 0 94);
    --foreground: hsl(210 11 15);

    --highlight: hsl(190 90 50);
    --muted: hsl(208 7% 46%);

    scroll-behavior: smooth;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-highlight: var(--highlight);
    --color-muted: var(--muted);
}

@layer components {
    .section-wrapper {
        @apply max-w-7xl mx-auto px-[clamp(1rem,5vw,2rem)];
    }

    body {
        @apply text-foreground bg-background;
    }

    [data-theme='dark'] {
        --background: hsl(227 35 18);
        --foreground: hsl(0 0 94);
        --muted: hsl(0, 0%, 72%);
    }

    [data-theme='light'] {
        --background: hsl(0 0 94);
        --foreground: hsl(210 11 15);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(227 35 29);
        --foreground: hsl(0 0 94);
        --muted: hsl(0, 0%, 72%);
    }
}
